
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|IBM+Plex+Mono|Indie+Flower|Source+Sans+Pro:400,700);


body {
  width: 80%;
  border: 20px solid #bdc3c7;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}

.post {
  margin-bottom: 50px;
}

.date {
  color: #3498db;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.quote{
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.w3-container {
  text-align: left;
  font-size: 20px;
  padding: 3px;
  color: #91999e;
  font-weight: 500;
}

h1 {
  font-size: 3.0rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.75)


}

h2 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #2c3e50;
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
